.right {
    float: right;
}

.left {
    float: left;
}

.checkbox-tecnicos {
    margin-left: 20px;
}

p {
    color: #777;
}

.navbar {
    margin-bottom: 0 !important;
}

.margin0 {
    margin: 0;
}

.margin10 {
    margin: 0 10px;
}

.padding10 {
    padding: 10px !important:
}

.paddingRight {
    padding-right: 15px;
}

.padding0 {
    padding: 0;
}

.main {
    margin-top: 20px;
}
.campoId{
	width: 0.3% !important;
}










