<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <nav class=" navbar navbar-default navbar-fixed-top">
        <div class="container-fluid col-lg-10 col-lg-offset-1 header">
            <div class="navbar-header ">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <div class="logo">
                    <h1>
                        <a href="#">
                            <img alt="#" height="99" src="img/logo.png" width="155"/>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="navbar-collapse collapse menu" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="scrollSuave" href="#home">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a class="scrollSuave" href="#planos">
                            PLANOS
                        </a>
                    </li>
                    <li class="hide">
                        <a class="scrollSuave" href="#vantagens">
                            VANTAGENS
                        </a>
                    </li>
                    <li>
                        <a class="scrollSuave" href="#servicos">
                            SERVIÇOS
                        </a>
                    </li>
                    <li>
                        <a class="scrollSuave" href="#sobre">
                            SOBRE
                        </a>
                    </li>
                    <li>
                        <a class="scrollSuave" href="#contato">
                            CONTATO
                            <span class="sr-only">
                                CONTATO
                            </span>
                        </a>
                    </li>
                    <li class="icones icon-email">
                        <a href="http://webmail.netbig.com.br/" target="_blank" title="Web-Mail">
                        </a>
                    </li>
                    <li class="icones face">
                        <a href="https://www.facebook.com/netbig/" target="_blank" title="Facebook">
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid col-lg-10 col-lg-offset-1">
        <div class="top col-xs-12">
            <p>
                <span aria-hidden="true" class=" fa fa-envelope-o">
                </span>
                <a href="mailto:contato@netbig.com.br?subject=feedback">
                    atendimento@netbig.com.br
                </a>
            </p>
            <p>
                <span aria-hidden="true" class="fa fa-barcode">
                </span>
                <a href="http://central.superip.com.br" target="blank" title="Central do assinante">
                    Financeiro
                </a>
            </p>
            <p>
                <span aria-hidden="true" class="fa fa-phone">
                </span>
                <a href="tel:49 3433 3020">
                    (049)3433 3020
                </a>
            </p>
        </div>
    </div>
</html>