<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <div class="contato col-xs-12">
        <div class="container-fluid col-lg-10 col-lg-offset-1">
            <h2>
                Contato
            </h2>
            <div class="conteudo col-xs-12 col-sm-4">
                <div class="img-icon local">
                    <i>
                        <span aria-hidden="true" class="glyphicon glyphicon-map-marker glyphicon-map-marker-white">
                        </span>
                    </i>
                    <p>
                        Rua Antonio Vitório Giordani,164
                        <br>
                            Terreo | Estacionamento Brasão | Centro
                            <br/>
                            Xanxerê | SC
                        </br>
                    </p>
                </div>
                <div class="img-icon phone">
                    <i>
                        <span aria-hidden="true" class="glyphicon glyphicon-earphone glyphicon-earphone-white">
                        </span>
                    </i>
                    <p>
                        <span>
                            49
                        </span>
                        3433 3020
                        <br/>
                        <span>
                            0800
                        </span>
                        646 2608
                    </p>
                </div>
                <div class="img-icon">
                    <i>
                        <span aria-hidden="true" class="glyphicon glyphicon-envelope glyphicon-envelope-white">
                        </span>
                    </i>
                    <p>
                        <a href="mailto:contato@netbig.com.br?subject=feedback">
                            atendimento@netbig.com.br
                        </a>
                    </p>
                </div>
            </div>
            <div class="conteudo time col-xs-12 col-sm-4">
                <div class="img-icon col-xs-12">
                    <i>
                        <span aria-hidden="true" class="fa fa-tachometer" style="color: #FFF">
                        </span>
                    </i>
                    <p>
                        <a href="http://www.minhaconexao.com.br/hosts/000781.php" target="_blank" title="Medidor de velocidade">
                            <span>
                                Velocimetro
                            </span>
                        </a>
                    </p>
                </div>
                <div class="img-icon col-xs-12">
                    <i>
                        <span aria-hidden="true" class="glyphicon glyphicon-time glyphicon-time-white">
                        </span>
                    </i>
                    <p>
                        Horário de atendimento
                    </p>
                    <p>
                        <span>
                            Comercial
                        </span>
                        <br/>
                        Segunda à Sexta-feira,
                        <br/>
                        das 8:00hs às 12:00hs e das 13:30hs às 18:00hs
                        <br/>
                        <span>
                            Sábado
                        </span>
                        das 8:00hs às 12:00hs.
                    </p>
                </div>
                <div class="img-icon">
                    <i>
                        <span aria-hidden="true" class="glyphicon glyphicon-barcode glyphicon-barcode-white">
                        </span>
                    </i>
                    <p>
                        <a href="http://central.superip.com.br" target="blank" title="Central do assinante">
                            Financeiro
                        </a>
                    </p>
                </div>
                <div class="img-icon">
                    <i>
                        <span aria-hidden="true" class="glyphicon glyphicon-cloud-download glyphicon-cloud-download-white">
                        </span>
                    </i>
                    <p>
                        <a href="http://netbig.com.br/contrato/contrato_scm_netbig_122877.pdf" target="blank" title="Baixar Documentos e Regulamentações">
                            Documentos e Regulamentações
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <div class="footer col-xs-12">
        <div class="container-fluid col-lg-10 col-lg-offset-1">
            <p>
                (c) Copyright 2017 netBig. Todos os Direitos Reservados.
            </p>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <script src="js/jquery.min.js">
    </script>
    <script src="js/bootstrap.min.js">
    </script>
    <script>
        window.fbAsyncInit = function() {
                    FB.init({
                        appId : '1282553835109976',
                        xfbml : true,
                        version : 'v2.7'
                    });
                };
                ( function(d, s, id) {
                        var js,
                            fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {
                            return;
                        }
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/pt_BR/sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
    </script>
</html>
