<!DOCTYPE html>
<html layout:decorator="Global" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Cadastro</title>
</head>
<section layout:fragment="conteudoSite">
	<div class="img_back col-xs-12">
		<div class="titulo container-fluid col-lg-10 col-lg-offset-1">
			<h3>
				Escolha o plano que <br /> <span>combina com você!</span>
			</h3>
		</div>
	</div>

	<div class="container-fluid col-lg-10 col-lg-offset-1 content">

		<a href="#">pessoa física</a><br />
		<a href="#">pessoa jurídica</a>

	</div>
	<!-- /container -->

</section>
</html>