<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-3 col-md-2 navbar-default sidebar ">
        <ul class="nav nav-sidebar">
            <li>
                <a th:href="@{/comissao}">
                    Comissões
                </a>
            </li>
            <li class="active">
                <a th:href="@{/instalacao/fibra}">
                    Instalação Fibra
                </a>
            </li>
            <li>
                <a th:href="@{/instalacao/upgradeFibra}">
                    Upgrade Fibra
                </a>
            </li>
            <li>
                <a th:href="@{/instalacao/radio}">
                    Instalação rádio
                </a>
            </li>
            <li>
                <a th:href="@{/cliente}">
                    Clientes
                </a>
            </li>
            <li>
                <a th:href="@{/usuario}">
                    Usuários
                </a>
            </li>
            <li>
                <a th:href="@{/titulos}">
                    Cobranças
                </a>
            </li>
        </ul>
    </div>
</html>