<!DOCTYPE html>
<html layout:decorator="LayoutPadrao" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            Clientes
        </title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <section layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="row">
                <div class="main col-sm-9 col-md-10">
                    <div class="panel panel-default margin10">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                Tabela de clientes
                            </h1>
                        </div>
                        <div class="panel-body ">
                            <form class="form-horizontal ">
                                <div class="form-group paddingRight">
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input autofocus="autofocus" class="form-control" placeholder="Procurar"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="glyphicon glyphicon-search">
                                                    </i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <a th:href="@{/comissao/cliente/novo}">
                                        <button class="btn btn-primary right" type="button">
                                            Novo
                                        </button>
                                    </a>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="campoId text-center">
                                                #
                                            </th>
                                            <th class="col-md-2">
                                                Nome
                                            </th>
                                            <th class="text-center col-md-2">
                                                Telefone
                                            </th>
                                            <th class="text-center col-md-2">
                                                CPF
                                            </th>
                                            <th class="col-md-1 text-center">
                                                Ação
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cliente : ${clientes}">
                                            <td class="text-center" th:text="${cliente.codigo}">
                                            </td>
                                            <td th:text="${cliente.nomeCliente}">
                                            </td>
                                            <td class="text-center" th:text="${cliente.telefone}">
                                            </td>
                                            <td class="text-center" th:text="${cliente.cpf}">
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-link btn-xs" data-placement="top" rel="tooltip" th:href="@{/comissao/cliente/{codigo}(codigo=${cliente.codigo})}" title="Editar">
                                                    <span aria-hidden="true" class="glyphicon glyphicon-pencil">
                                                    </span>
                                                </a>
                                                <a class="btn btn-link btn-xs" data-placement="top" title="Excluir" data-toggle="modal" data-target="#confirmacaoExclusaoModal">
                                                    <span aria-hidden="true" class="glyphicon glyphicon-remove">
                                                    </span>
                                                </a>
                                                <a class="btn btn-link btn-xs js-atualizar-status" data-placement="top" rel="tooltip">
                                                    <span aria-hidden="true" class="glyphicon glyphicon-check">
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" th:if="${#lists.isEmpty(clientes)}">
                                                Nenhum título foi encontrado
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout:include="DialogoConfirmacaoExclusao"></div>
        </div>
    </section>
</html>